@font-face {
  font-family: "Poppins";
  src: url(/font/Poppins-Medium.ttf);
}
.header_container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0px 120px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  color: white;
  font-size: 15px;
  font-family: Poppins, sans-serif;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(5 8 22/var(--tw-bg-opacity));
}

.logo {
  font-weight: 700;
  font-size: larger;
  font-family: Poppins, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 4em;
  font-family: Poppins, sans-serif;
}
h1 span {
  color: rgb(145 94 255/var(--tw-text-opacity));
  --tw-text-opacity: 1;
  font-family: Poppins, sans-serif;
}

.section_greetings_description {
  font-size: 1.2em;
  word-spacing: 7px;
  font-family: Poppins, sans-serif;
}

.section_greetings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_greetings_image {
  -webkit-animation-name: img;
          animation-name: img;
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes img {
  0% {
    -webkit-transform: translate(1000px, 0px);
            transform: translate(1000px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes img {
  0% {
    -webkit-transform: translate(1000px, 0px);
            transform: translate(1000px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@-webkit-keyframes block {
  0% {
    -webkit-transform: translate(-1000px, 0px);
            transform: translate(-1000px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@keyframes block {
  0% {
    -webkit-transform: translate(-1000px, 0px);
            transform: translate(-1000px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.section_greetings_block {
  -webkit-animation-name: block;
          animation-name: block;
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.AboutMe {
  background-color: #120873;
}

.AboutMe_bg_color {
  padding: 80px 10px;
}
.AboutMe_bg_color h2 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
}
.AboutMe_bg_color span {
  color: rgb(145 94 255/var(--tw-text-opacity));
  --tw-text-opacity: 1;
  font-family: Poppins, sans-serif;
}

.AboutMe_description {
  text-align: center;
  font-size: 1.2em;
  font-family: Poppins, sans-serif;
}

.circle {
  background-color: transparent;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00ffff;
  padding: 12px 13px;
  display: inline-block;
  -webkit-box-shadow: 0 0 20px #00ffff;
          box-shadow: 0 0 20px #00ffff;
}

.circle:hover svg {
  fill: white;
}

.circle:hover {
  background-color: #000;
}

.Contact {
  margin-top: 50px;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Grid {
  display: -ms-grid;
  display: grid;
  gap: 100px;
  -ms-grid-columns: 100px 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Grid .grid_item {
  font-family: Poppins, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Grid .grid_item svg {
  fill: white;
}

.Skill {
  padding: 80px 10px;
}
.Skill h2 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
}
.Skill span {
  color: rgb(145 94 255/var(--tw-text-opacity));
  --tw-text-opacity: 1;
  font-family: Poppins, sans-serif;
}

.grid_item:hover {
  color: #00e6e6;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.grid_item:hover svg {
  fill: #00e6e6;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.CodeExample {
  padding: 80px 10px;
}
.CodeExample h2 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
}
.CodeExample span {
  color: rgb(145 94 255/var(--tw-text-opacity));
  --tw-text-opacity: 1;
  font-family: Poppins, sans-serif;
}
.CodeExample pre {
  background-color: #1f1864;
}

.project {
  padding: 80px 10px;
}
.project h2 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
}
.project span {
  color: rgb(145 94 255/var(--tw-text-opacity));
  --tw-text-opacity: 1;
  font-family: Poppins, sans-serif;
}
.project h2 {
  margin-bottom: 80px;
}

.project_Grid {
  display: -ms-grid;
  display: grid;
  gap: 80px;
  -ms-grid-columns: 18rem 80px 18rem;
  grid-template-columns: 18rem 18rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}
.project_Grid .Grid_card {
  gap: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background-color: #3c2faf;
  padding: 15px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.project_Grid .Grid_card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.project_Grid .Grid_card_title {
  text-align: center;
  font-size: 1.7em;
  font-family: Poppins, sans-serif;
  margin-bottom: 15px;
}
.project_Grid .Grid_card_text {
  font-family: Poppins, sans-serif;
  font-size: 0.9em;
  text-align: center;
}
.project_Grid .stack {
  margin-top: 15px;
}
.project_Grid .stack span {
  margin-right: 10px;
}
.project_Grid .stack #Vue {
  color: rgb(26, 177, 26);
}
.project_Grid .stack #NodeJS {
  color: rgb(44, 133, 44);
}
.project_Grid .stack #MongoDB {
  color: rgb(103, 167, 103);
}
.project_Grid .stack #HTML {
  color: rgb(221, 141, 65);
}
.project_Grid .stack #CSS {
  color: rgb(3, 57, 235);
}
.project_Grid .stack #JavaScript {
  color: rgb(186, 218, 44);
}

.footer_background {
  background-color: #4931aa;
}
.footer_background .footer_container {
  padding: 80px 0px;
}
.footer_background .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_background .footer_content .MyGitHub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.footer_background .footer_content svg {
  fill: white;
}
.footer_background .footer_content span {
  font-family: Poppins, sans-serif;
}
.footer_background .footer_content .ear {
  font-family: Poppins, sans-serif;
  text-align: center;
}